

       <section class="section-top-80 section-md-top-120">
        <div class="shell shell-wide">
          <h5 class="text-info-dr">Hot Deals</h5>
          <h2 class="offset-top-20 text-ubold">Popular Destinations</h2>
          <hr class="divider divider-primary divider-80">
        </div>
      </section>
      <div class="row offset-top-50 offset-lg-top-90 isotope-wrap">
        <!-- Isotope Filters-->
        <div class="col-lg-12">
          <div class="isotope-filters isotope-filters-horizontal">
            <ul class="nav-custom">
              <li><a data-isotope-filter="*" data-isotope-group="gallery" href="#" class="active">All Offers</a></li>
              <li><a data-isotope-filter="Type 1" data-isotope-group="gallery" href="#">Europe</a></li>
              <li><a data-isotope-filter="Type 2" data-isotope-group="gallery" href="#">North America</a></li>
              <li><a data-isotope-filter="Type 3" data-isotope-group="gallery" href="#">Asia</a></li>
              <li><a data-isotope-filter="Type 4" data-isotope-group="gallery" href="#">Australia</a></li>
            </ul>
          </div>
        </div>
        <!-- Isotope Content-->
        <div class="col-lg-12 offset-top-60">
          <div data-isotope-layout="masonry" data-isotope-group="gallery" class="row row-no-gutter isotope isotope-no-padding isotope--loaded" style="position: relative; height: 626.532px;">
            <div data-filter="Type 1" class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5 isotope-item"><a href="tickets.html" class="thumbnail-variant-4"><img src="assets/images/post-35.jpg" alt="" class="img-responsive center-block thumbnail-image">
                <div class="caption">
                  <h3 class="text-ubold">Barcelona</h3>
                  <p>The cultural, commercial, and financial center of Northern California.</p>
                  <div class="thumbnail-link"></div>
                </div></a></div>
            <div data-filter="Type 2" class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5 isotope-item"><a href="tickets.html" class="thumbnail-variant-4"><img src="assets/images/post-36.jpg" alt="" class="img-responsive center-block thumbnail-image">
                <div class="caption">
                  <h3 class="text-ubold">London</h3>
                  <p>The cultural, commercial, and financial center of Northern California.</p>
                  <div class="thumbnail-link"></div>
                </div></a></div>
            <div data-filter="Type 3" class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5 isotope-item"><a href="tickets.html" class="thumbnail-variant-4"><img src="assets/images/post-37.jpg" alt="" class="img-responsive center-block thumbnail-image">
                <div class="caption">
                  <h3 class="text-ubold">New York</h3>
                  <p>The cultural, commercial, and financial center of Northern California.</p>
                  <div class="thumbnail-link"></div>
                </div></a></div>
            <div data-filter="Type 4" class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5 isotope-item"><a href="tickets.html" class="thumbnail-variant-4"><img src="assets/images/post-38.jpg" alt="" class="img-responsive center-block thumbnail-image">
                <div class="caption">
                  <h3 class="text-ubold">Rome</h3>
                  <p>The cultural, commercial, and financial center of Northern California.</p>
                  <div class="thumbnail-link"></div>
                </div></a></div>
            <div data-filter="Type 1" class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5 isotope-item"><a href="tickets.html" class="thumbnail-variant-4"><img src="assets/images/post-39.jpg" alt="" class="img-responsive center-block thumbnail-image">
                <div class="caption">
                  <h3 class="text-ubold">Paris</h3>
                  <p>The cultural, commercial, and financial center of Northern California.</p>
                  <div class="thumbnail-link"></div>
                </div></a></div>
            <div data-filter="Type 3" class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5 isotope-item"><a href="tickets.html" class="thumbnail-variant-4"><img src="assets/images/post-40.jpg" alt="" class="img-responsive center-block thumbnail-image">
                <div class="caption">
                  <h3 class="text-ubold">Blue Mountains</h3>
                  <p>The cultural, commercial, and financial center of Northern California.</p>
                  <div class="thumbnail-link"></div>
                </div></a></div>
            <div data-filter="Type 4" class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5 isotope-item"><a href="tickets.html" class="thumbnail-variant-4"><img src="assets/images/post-42.jpg" alt="" class="img-responsive center-block thumbnail-image">
                <div class="caption">
                  <h3 class="text-ubold">Berlin</h3>
                  <p>The cultural, commercial, and financial center of Northern California.</p>
                  <div class="thumbnail-link"></div>
                </div></a></div>
            <div data-filter="Type 2" class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5 isotope-item"><a href="tickets.html" class="thumbnail-variant-4"><img src="assets/images/post-43.jpg" alt="" class="img-responsive center-block thumbnail-image">
                <div class="caption">
                  <h3 class="text-ubold">Phuket</h3>
                  <p>The cultural, commercial, and financial center of Northern California.</p>
                  <div class="thumbnail-link"></div>
                </div></a></div>
            <div data-filter="Type 1" class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5 isotope-item"><a href="tickets.html" class="thumbnail-variant-4"><img src="assets/images/post-41.jpg" alt="" class="img-responsive center-block thumbnail-image">
                <div class="caption">
                  <h3 class="text-ubold">Venice</h3>
                  <p>The cultural, commercial, and financial center of Northern California.</p>
                  <div class="thumbnail-link"></div>
                </div></a></div>
            <div data-filter="Type 4" class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5 isotope-item"><a href="tickets.html" class="thumbnail-variant-4"><img src="assets/images/post-44.jpg" alt="" class="img-responsive center-block thumbnail-image">
                <div class="caption">
                  <h3 class="text-ubold">San Francisco</h3>
                  <p>The cultural, commercial, and financial center of Northern California.</p>
                  <div class="thumbnail-link"></div>
                </div></a></div>
            <div data-filter="Type 1" class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5 isotope-item"><a href="tickets.html" class="thumbnail-variant-4"><img src="assets/images/post-45.jpg" alt="" class="img-responsive center-block thumbnail-image">
                <div class="caption">
                  <h3 class="text-ubold">Mediterranean</h3>
                  <p>The cultural, commercial, and financial center of Northern California.</p>
                  <div class="thumbnail-link"></div>
                </div></a></div>
          </div>
        </div>
      </div>
      <div class="section-bottom-80 section-md-bottom-120">
        <div class="offset-top-50 offset-lg-top-90"><a href="tickets.html" class="btn btn-primary btn-naira btn-naira-up">
            <div class="icon fa-search"></div><span>find tickets</span></a></div>
      </div>

