    <!-- Your Profile  -->

    <div class="your-profile">
      <div class="ui-block-title ui-block-title-small">
        <h6 class="title">Your PROFILE</h6>
      </div>

      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <div class="ui-block-title">
                  <span class="title">Profile Settings</span>
                </div>
              </mat-expansion-panel-header>

              <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <ul class="your-profile-menu">
                  <li>
                    <a href="28-YourAccount-PersonalInformation.html">Personal Information</a>
                  </li>
                  <li>
                    <a href="29-YourAccount-AccountSettings.html">Account Settings</a>
                  </li>
                  <li>
                    <a href="30-YourAccount-ChangePassword.html">Change Password</a>
                  </li>
                  <li>
                    <a href="31-YourAccount-HobbiesAndInterests.html">Hobbies and Interests</a>
                  </li>
                  <li>
                    <a href="32-YourAccount-EducationAndEmployement.html">Education and Employement</a>
                  </li>
                </ul>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <div class="ui-block-title">
                  <span class="title">Traveler Settings</span>
                </div>
              </mat-expansion-panel-header>

              This the expansion 1 content

            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <div class="ui-block-title">
                  <span class="title">Account Settings</span>

                </div>
              </mat-expansion-panel-header>

              This the expansion 2 content

            </mat-expansion-panel>

          </mat-accordion>


        </div>
      </div>




    </div>

    <!-- ... end Your Profile  -->
