#home-search {
  position: absolute;
  top: 0;
}
.navbar-header {
    height: 50px;
    box-sizing: border-box;
}
.navbar-header .primary-nav-group {
    height: 60px;
}
.navbar-header .primary-nav-group {
    overflow: visible;
    position: relative;
    max-height: 60px;
    height: 50px;
    padding: 0!important;
}
.navbar-header .primary-nav-group .nav-section {
    position: absolute;
    width: 100%;
    height: 100%;
}

nav li {
  float: left;
  display: inline;
}

.hoteleData {
  background-color: darkviolet;
  margin: 5% 5% 5% 5% auto;
  padding: 10%;
  overflow: auto;

}
/* .nuxt{
  background-color: darkviolet;

} */
.HDataBody {
  background-color: white;
  box-shadow: 3px 3px 3px #dee2e6;

  width: 40%;
  /* text-align: center; */
  margin: 5% 5%  auto;
  float: right;
  min-height: 300px;
}


.HDataBody h6 {
  color: brown;
}

.media img {
  height: 300px;
}

.checked {
  color: orange;
}


.available{
background-color: greenyellow;
color: white;
font-weight: bold;
}

.notavailable{
background-color: gold;;
}

mat-spinner{
  margin: 10% auto;
  float: none;
}


.main {
  width: 100%;
  height: 200px;
  display: block;
  /* background-color: deeppink; */
}

.right {
  width: 80%;
  display: block;
  border: brown 1px solid;
  margin: 5% auto;
}


.next h3 {
  text-align: justify; /* For Edge */
  -moz-text-align-last: justify; /* For Firefox prior 58.0 */
  text-align-last: justify;
}

.right img {
  /* float: left; */
  height: 200px;
  height: 220px;
}

.left {
 border: 1px red solid;
}


















.text h3 , p{
  text-align: left;
  padding: 3px ;
}

.text small,  h4{
  text-align: right;
  padding: 3px;
  background-color: #00a207;
  color: #fff;
  font-weight: 800;
  float: right;
  /* top: 10px;
    right: 15px;
    position: absolute; */
}

.im{
  float: left;
  border-radius: 5px 0px 0px 5px ;
  height: 210px;
  width: 250px;
}

.fa-star {
  cursor: pointer;
}

.fillter {
  /* border: deeppink 1px solid; */
  height: 400px;
  /* background: white; */
  margin-top: 10px ;
  color: #fff;
  font-weight: 800;
}

.nat {
  background: white;
  margin-top: 10px ;
  margin-bottom: 10px;
  border-radius: 5px ;
  height: 210px;
  overflow: hidden;
}

.clear {
  width: 100%;
  height: 1px;
  display: block;
  clear: both;
}
